.about {
  display: flex;
  width: 100%;
  height: 960px;
  background-color: #fff5f6;
  background-image: url(/images/mobile-about-background01.png),
    url(/images/mobile-about-background02.png);
  background-position: left 79%, right 79%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about {
    height: 720px;
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    height: 780px;

  }
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
      padding-top: 125px;
          background-image: url(/images/desktop-about-background01.png),
              url(/images/desktop-about-background02.png);
            background-position: left bottom, right bottom;
            background-repeat: no-repeat;
  }
  &__description {
    display: flex;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 29.77px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 26px;
      line-height: 29.77px;
      text-align: center;
      margin-bottom: 55px;
    }
  }
  &__header {
    display: flex;
    width: 200px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
      width: 600px;
      font-size: 48px;
      line-height: 54.96px;
      justify-content: center;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 66px;
      margin-bottom: 26px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin: 50px 36px 0px 39px;
    }
    @media screen and (min-width: 1280px) {
      margin: 0 112px;
    }
  
}
  &__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding-left: 17px;
      align-items: flex-start;
    }

    @media screen and (min-width: 1280px) {
      flex-direction: column;
      padding-left: 74px;

    }
  }
  &__krowka {
    width: 280px;
    @media screen and (min-width: 768px) {
      width: 340px;
    }
    @media screen and (min-width: 1280px) {
      width: 516px;
    }
  }
  &__bold-paragraph {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: #000000;
    text-align: left;
    padding: 0 50px;
    margin-bottom: 50px;
    // margin-top: 46px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 176%;
      padding: 0;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 25px;
    }
  }

  &__text {
    font-family: 'DM Sans';
    font-weight: 500;
    display: flex;
    font-size: 12px;
    line-height: 162%;
    /* or 19px */
    color: #907e82;
    text-align: left;
    padding: 0 50px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 176%;
      padding: 0;
    }

    @media screen and (min-width: 1280px) {
      line-height: 194%;
      padding-top: 25px;
    }
  }
  &__button {
    width: 176px;
    height: 44px;
    border: none;
    background: #ffffff;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d41443;
    margin-top: 17px;
    cursor: pointer;
    transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
      box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 176%;
      padding: 0;
    }

    @media screen and (min-width: 1280px) {
      line-height: 194%;
    }
  }
  &__button:hover,
  &__button:focus {
    background: #ecebeb;
    box-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
  }
}
.about-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  font-family: 'Titan One';
  font-weight: 400;
  color: #d41443;
  background-color: #f3d2da;
  border: 3px solid #d41443;
  border-radius: 50%;
  cursor: pointer;
}
.close-btn:hover {
  color: #fff5f6;
  background-color: #d41443;
}
.read-about {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 528px;
  max-height: 620px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  background-color: #f3d2da;
  background-image: url(/images/mobile-about-background01.png),
    url(/images/mobile-about-background02.png);
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  border-radius: 4px;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: justify;
  align-items: center;
  justify-content: center;
  // transform: translateX(100%);
  // transition: transform 250ms ease-in-out;

  &__text {
    display: block;
    max-width: 450px;
    max-height: 450px;
    overflow: auto;
    margin: 50px 15px 5px 15px;
  }
  &__milkimage {
    position: flex;
    margin: 5px;
  }
  &__milkimage:hover {
    animation-name: AnimationReadMe;
    animation-duration: 2000ms;
    animation-iteration-count: 10;
    animation-direction: alternate;
  }
  @keyframes AnimationReadMe {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(45deg);
    }
  }
}
