.footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer--bg {
    background-color: #FFF5F6;
}

.footer-position {
    display: flex;
    justify-content: space-between;
    padding: 113px 115px 97px;
    @media screen and (max-width: 767px) {   
        padding: 165px 20px 43px; 
        flex-direction: column;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 165px 36px 91px;        
    }
}

.footer-logo {
    width: auto;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        padding-bottom: 43px;
    }

    &__first-description {
        font-size: 30px;
        line-height: 1.133;
        letter-spacing: 0.04em;
        color: #FFA5BA;
        padding-bottom: 15px;
        @media screen and (max-width: 767px) {
            font-size: 18px;
            line-height: 1.166;
            
        }
            @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 26px;
            line-height: 1.153;
        }
    }

    &__second-description {
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.06em;
        color: #D41443;
        @media screen and (max-width: 767px) {
            font-size: 34px;
            line-height: 1.147;
            max-width: 200px;
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 48px;
            line-height: 1.145;
            max-width: 200px;
        }
    }
}

.footer-contact {
    display: flex;
    flex-direction: column;
    &__icon-position {
        display: flex;
        justify-content: flex-end;
        gap: 31px;
        padding-bottom: 50px;
    }
    
    &__icon-contact {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #FEA5BB;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
        cursor: pointer;
    }

    &__icon-contact:hover,
    &__icon-contact:focus {
        background: #D41443;
    }
    
    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 186%;
        letter-spacing: 0.02em;
        @media screen and (max-width: 767px) {
            font-size: 12px;
            text-align: right;
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 14px;
            text-align: right;
        }
    }
    &__sentence {
        color: #000000;
    }
    &__mobile-number {
        color: #D41443;
    }    
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #E1E1E1;
    padding: 9px 0 10px 0;
    @media screen and (max-width: 767px) {
        padding: 22px 0 25px 0;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        padding: 29px 0 18px 0; 
    }
    &__style {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 186%;
        letter-spacing: 0.02em;
        color: #907E82;
        @media screen and (max-width: 767px) {
            width: 150px;
        }
    }
}

.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-footer {
    fill: #FFFFFF;
}