@import './variables';

%button-main-style{
        border-radius: 22px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF;
        color: #D41443;
}
%hover_focus_link{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    
 
}

.container{
    
//margin: auto;
&__head{
    position: relative;
    display: block;
    background-color: $background-color-header;
    height: 502px;
    
&::before {
        content: "";
        width: 346px;
        height: 344px;
        border-radius: 50%;
        background-image: radial-gradient(circle, #FFA5BA 100%, #FFA5BA 0%);
        position: absolute;
        right: -50px;
        top: 80px;
        //z-index: 1;
        clip-path: inset(0px 50px 0px 0px);
       
    }
}
}
.header{
    
    position: relative;
    display: inline-flex;
    height: 50px;
    min-width: 100%;
    z-index: 200;
    &__main-title{
        z-index: 200;
        position: absolute;
        top: 193px;
        left: 20px;
        width: 218px;
        
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        &--decor{
         
            font-size: 48px;
            line-height: 90.5%;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            color: #D41443;
        }
    }
    &__buttons{
        display: flex;
        position: absolute;
        width: 100%;
        left:11px;
        top:333px;
    }
    &__bar{
        display: flex;
        min-width: 100%;
        margin-top: 8px;
        justify-content: space-around;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__text-box{
        max-width: 277px;
    }
    &__pict-item{
        &--lady{
            display: none;
            position: absolute;
            top: 433px;
            right: 109px;
            z-index: 10;
        }
        &--ice{
            position: absolute;
            scale: 0.72;
                top: 22px;
                right: 15px;
                z-index: 10;
                
        }
        &--milk{
            display: none;
            position: absolute;
                top: 429px;
                left: 77px;
        }
    }
    &__text{
        display: none;
        position: absolute;
        width: 200px;
        left: 295px;
        top: 485px;
        &--decor{
        color: $general-white-text-color ;
            font-family: 'DM Sans';
            font-size: 14px;
            line-height: 140%;
        }
    }
}
.button{
    z-index: 200;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    @extend %hover_focus_link;
    &--products{
        @extend %button-main-style;
        background-color: $background-color-button2 ;
        color: $general-white-text-color ;
        margin-right: 8px;
        font-size: 8px;
        line-height: 10px;
        &:hover, &:focus{
            background-color: $button-color-hover2;
        }
    }
    &--how-made{
        @extend %button-main-style;
        // width: 138px;
        font-size: 8px;
        line-height: 10px;
        &:hover,
            &:focus {
                background-color: $button-color-hover1;
            }
        
    }
    &--buy-now {
        display: none;
        @extend %button-main-style;
        width: 159px;
        padding-left: 43px;
       
         &:hover,
        &:focus {
            background-color: $button-color-hover1;
        }
                
    }
}
.navigation{
    display: none;
    
    
   
}
.menu{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    &__icon{
        width: 24px;
        fill: $main-text-color;
    }

    &__item{
    align-items: center;
    
    padding-left: 35px;
    // color: #D41443;
    &:last-child(){
        padding-left: 0px;
    }
    &__link{
    color: $general-white-text-color;
    
    }
  
    }
}
.arrow{
    width: 26px;
    height: 26px;
   
}


.extras{
    display: none;
    position: relative;
      
    &__numbers{
        z-index: 100;
        position: absolute;
        font-family: 'Titan One';
        font-size: 46px;
        line-height: 53px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $main-text-color;
        left: -45px;
        top: 6px;
            &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: radial-gradient(circle, #ffffff 100%, #ffffff 0%);
                    position: absolute;
                    right: -15px;
                    top: -6px;
                    z-index: -1;
                   
                }
    }
    &__text{
        position: absolute;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $general-white-text-color ;
        top: 60px;
        left: -60px;
        &--mod{
            left: -25px;
        }
    }
    &--two{
        position: absolute;
        right: 97px;
        top: 258px;
    }
    &--one{
        position: absolute;
        right: 97px;
        top: 156px;
    }
}

@media screen and (min-width:768px) and (max-width: 1279px) {
    .container{
        &__head{
           height: 399px;
        &::before {
                width: 344px;
                height: 342px;
                right: 150px;
                top: 31px;
                clip-path: none;
            }
        }
    }
    .button{
        
        &--buy-now {
            display: flex;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 43px;
            font-size: 16px;

        }
        font-size: 8px;
        line-height: 10px;
        padding: 10px 10px 10px 10px;
    }
    .header{
        min-width: calc(100% - 78px);
        
        &__bar{
            justify-content:space-between;
            margin-left: 34px;
            margin-top: 37px;

            
        }
        &__text {
                display:block;
                z-index: 200;
                top: 292px;
                left: 154px;
                width: 114px;
                &--decor{
                font-size: 8px;
                line-height: 150%;

                }
                
        }
               
         &__pict-item {
            &--ice { 
                scale: 0.6;
                top: -48px;
                right: 247px;
                }
            &--milk{
                display: block;
                scale: 0.66;
                top: 220px;
                left: 0px;
            }
            &--lady{
                display: block;
                scale: 0.57;
                top: 216px;
                right: -10px;
            }
            }
        &__main-title{
            top: 102px;
            left: 34px;
            width: 162px;
            font-size: 22px;
            line-height: 25px;
            &--decor{
            font-size: 34px;
            line-height: 90.5%;
            }
        }    
        &__buttons{
            left: 34px;
            top: 202px;
        }

    }
.arrow{
    width: 18px;
    height: 18px;
    margin-top: 7px ;
}
.extras{
    display: flex;
    &__text{
        top: 35px;
       
        font-size:8px ;
    }
    &__small-circle{
        width: 16px;
    }
    &__numbers{
        font-size: 28px;
        line-height: 32px;
         &::after{
            width: 16px;
            height: 16px;
            right: -10px;
            top: -3px;
         }
    }
    &--one{
        top:94px;
        right: 60px;
    }
    &--two {
        top: 151px;
        right: 60px;
    }
}
.menu{
    &__icon{
        margin-left: 40px;
    }
}
}

@media screen and (min-width:1280px) {
    .container {
        &__head {
            height: 665px;
            &::before {
                    width: 538px;
                    height: 538px;
                    right: 250px;
                    top: 11px;
                    clip-path: none;
                }
        }
    }

    .navigation {
        display: flex;
    }

    .button {
        padding-top: 14px;
        padding-bottom: 14px;
        &--buy-now {
            display: flex;
        }
        &--products{
            font-size: 14px;
            margin-right: 15px;
        }
        &--how-made {
            font-size: 14px;
            margin-right: 15px;
        }
    }

    .header {
        &__bar {
                margin-top: 37px;
            }
        &__pict-item {
            &--ice {
                top: 108px;
                right: 450px;
                scale: 1;
                    }
                &--milk {
                    display: block;
                   
                }
        
                &--lady {
                    display: block;
                   
                }
            }
        &__main-title {
            font-size: 38px;
            line-height: 44px;
            width: 277px;
            top: 171px;
            left: 115px;
            

            &--decor {
                font-size: 58px;
            }
        }
        
        
        &__text{
            display: block;
        }
        &__buttons{
            left: 115px;
            top: 333px;
        }    
    }
    
    .extras{
        display: block;
    }
    .menu{
        &__icon{
            display: none;
        }
        &__link{
            color: #ffffff;
            &:hover, &:focus{
                color: $main-text-color;
            }

        }
    }
    .arrow{
        margin-top: 34px;
    }
}
