@import './variables';

%button-main-style{
        border-radius: 22px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF;
        color: #D41443;
}
%hover_focus_link{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}
.container{
&__head{
    position: relative;
    display: block;
    background-color: $background-color-header;
    height: 665px;
}
}
.header{
    display: inline-flex;
    min-width: 100%;
    position: relative;
    &__main-title{
        position: absolute;
        top: 171px;
        left: 115px;
        width: 277px;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        &--decor{
         
            font-size: 58px;
            line-height: 90.5%;
            letter-spacing: 0.14em;
            text-transform: uppercase;
            color: #D41443;
        }
    }
    &__buttons{
        display: flex;
        position: absolute;
        width: 100%;
        left:115px;
        top:333px;
    }
    &__bar{
        display: flex;
        min-width: 100%;
        margin-top: 37px;
        justify-content: space-around;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__text-box{
        max-width: 277px;
    }
    &__pict-item{
        &--lady{
            position: absolute;
            top: 433px;
            right: 109px;
            z-index: 10;
        }
        &--ice{
            position: absolute;
                top: 108px;
                left: 598px;
                z-index: 10;
                
        }
        &--milk{
            position: absolute;
                top: 429px;
                left: 77px;
        }
    }
    &__text{
        position: absolute;
        width: 200px;
        left: 295px;
        top: 485px;
        &--decor{
        color: $general-white-text-color ;
            font-family: 'DM Sans';
            font-size: 14px;
            line-height: 140%;
        }
    }
}
.button{
    z-index: 200;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    @extend %hover_focus_link;
    &--products{
        @extend %button-main-style;
        background-color: $background-color-button2 ;
        color: $general-white-text-color ;
        font-size: 14px;
        margin-right: 15px;
        &:hover, &:focus{
            background-color: $button-color-hover2;
        }
    }
    &--how-made{
        @extend %button-main-style;
        // width: 138px;
        font-size: 14px;
        &:hover,
            &:focus {
                background-color: $button-color-hover1;
            }
        
    }
    &--buy-now {
        @extend %button-main-style;
        width: 159px;
        padding-left: 43px;
         &:hover,
        &:focus {
            background-color: $button-color-hover1;
        }
    }
}
.navigation{
    display: flex;
    z-index: 20;
   
}
.menu{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;

    &__item{
    align-items: center;
    
    padding-left: 35px;
    // color: #D41443;
    &:last-child(){
        padding-left: 0px;
    }
    &__link{
    color: $general-white-text-color;
    }
  
    }
}
.arrow{
    background-image: url('../images/arrow-right.png');
    width: 26px;
    height: 26px;
    margin-top: 20px;
}
.circle{
    position: absolute;
    left: 482px;
    top: 11px;
    z-index: 1;
}
.extras{
    position: relative;
    &.small-circle{
        position: absolute;
        width: 30px;
        height: 30px;
}
    &__numbers{
        position: absolute;
        font-family: 'Titan One';
        font-size: 46px;
        line-height: 53px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $main-text-color;
        left: -45px;
        top: 6px;

    }
    &__text{
        position: absolute;
        font-family: 'DM Sans';
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $general-white-text-color ;
        top: 60px;
        left: -60px;
        &--mod{
            left: -25px;
        }
    }
    &--two{
        position: absolute;
        right: 97px;
        top: 258px;
    }
    &--one{
        position: absolute;
        right: 97px;
        top: 156px;
    }
}