*,
*::after,
*::before {
    
  list-style: none;
  text-transform: none;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'DM sans', sans-serif;
  flex-direction: column;
  margin: auto;
  align-content: center;
  & h1,
  h2,
  h3,
  h4 {
    font-family: 'Titan One';
  }
    scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
