$background-color-body:#ffffff;
$background-color-header: #FFB8CA; //kolor tła hedera
$main-text-color: #D41443; //kolor głównej dużej czcionki
$second-text-color: #FFA5BA; //kolor drugiej wielkości tekstu, podtytuły
$general-white-text-color: #ffffff; //ogólny kolor tekstu - biały
$describing-text-color: #907E82; // kolor dla opisów, nr tel, emaili itp
$general-black-text-color: #000000; //ogólny kolor tekstu - czarny
$background-ice-cream: #FFB8CA; //kolor tła ice-cream
$background-ice-coffee: #f0d1a5; //kolor tła ice-coffee
$background-milkshake: #c2e297; //kolor tła milkshake
$background-color-button2: #D41443; //drugi kolor przycisków
$button-color-hover1:#ECEBEB;// przyciski czerwone z hoverem jasnym
$button-color-hover2: #C7133E; // przyciski jasne z hoverem ciemnym
$background-color-body-menu: #E17992;