/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './variables';
@import './setup';
@import './header';
@import './products';
@import './about';
@import './contacts';
@import './footer';