@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;700&family=Titan+One&display=swap");
*,
*::after,
*::before {
  list-style: none;
  text-transform: none;
  text-decoration: none;
  text-align: none;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin: auto;
  align-content: center;
}
body h1, body h2, body h3, body h4 {
  font-family: "Titan One";
}

.container {
  min-width: 320px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.container__head {
  display: block;
  background-color: #FFB8CA;
  height: 665px;
}

.header {
  display: inline-flex;
  min-width: 100%;
}
.header__bar {
  display: flex;
  min-width: 100%;
  margin-top: 37px;
  justify-content: space-around;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__main-title {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__text-box {
  max-width: 277px;
}

.button--buy-now {
  padding-left: 43px;
  background-color: #FFFFFF;
  border-radius: 22px;
  width: 159px;
  height: 44px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #D41443;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
}
.menu__item {
  align-items: center;
  padding-left: 35px;
}
.menu__item:last-child() {
  padding-left: 0px;
}

.about {
  display: flex;
  height: 960px;
  background-color: #fff5f6;
  background-image: url(/images/mobile-about-background01.png), url(/images/mobile-about-background02.png);
  background-position: left 79%, right 79%;
  background-repeat: no-repeat;
  width: 100%;
  align-items: flex-start;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
}
.about-us__description {
  display: flex;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.about-us__header {
  display: flex;
  width: 200px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__krowka {
  width: 280px;
}
.about-us__bold-paragraph {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #000000;
  text-align: left;
  padding: 0 50px;
  margin-bottom: 50px;
  margin-top: 46px;
}
.about-us__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__text {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #907e82;
  text-align: left;
  padding: 0 50px;
}
.about-us__button {
  width: 176px;
  height: 44px;
  border: none;
  background: #ffffff;
  border-radius: 22px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  margin-top: 17px;
  transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about-us__button:hover, .about-us__button:focus {
  background: #ecebeb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    height: 720px;
    background-color: #fff5f6;
    background-image: none;
    width: 100%;
    align-items: flex-start;
  }
  .about-us {
    display: flex;
    align-items: center;
    padding-top: 130px;
  }
  .about-us__description {
    display: flex;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 16px;
  }
  .about-us__header {
    display: flex;
    width: 600px;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 48px;
    line-height: 54.96px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    justify-content: center;
  }
  .about-us__content {
    display: flex;
    flex-direction: row;
    margin: 50px 36px 0px 39px;
  }
  .about-us__krowka {
    width: 340px;
  }
  .about-us__text-content {
    padding-left: 17px;
    align-items: flex-start;
  }
  .about-us__bold-paragraph {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    /* or 19px */
    color: #000000;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 46px;
    padding: 0;
  }
  .about-us__text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    /* or 19px */
    color: #907e82;
    text-align: left;
    padding: 0;
  }
  .about-us__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    height: 780px;
    max-width: 1600px;
    background-color: #fff5f6;
    background-image: url(/images/desktop-about-background01.png), url(/images/desktop-about-background02.png);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    width: 100%;
    align-items: flex-start;
  }
  .about-us {
    display: flex;
    align-items: center;
    padding-top: 130px;
  }
  .about-us__description {
    display: flex;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 55px;
  }
  .about-us__header {
    display: flex;
    width: 600px;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    justify-content: center;
  }
  .about-us__content {
    display: flex;
    flex-direction: row;
    margin: 0 112px;
  }
  .about-us__krowka {
    width: 516px;
  }
  .about-us__text-content {
    display: flex;
    flex-direction: column;
    padding-left: 74px;
    margin-top: 50px;
  }
  .about-us__bold-paragraph {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    /* or 19px */
    color: #000000;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 46px;
    padding: 0;
  }
  .about-us__text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    /* or 19px */
    color: #907e82;
    text-align: left;
    padding: 0;
  }
  .about-us__button {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */