@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;700&family=Titan+One&display=swap");
*,
*::after,
*::before {
  list-style: none;
  text-transform: none;
  text-decoration: none;
  text-align: none;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  margin: auto;
  align-content: center;
}

.container {
  max-width: 1600px;
  min-width: 320px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  height: 960px;
  background-color: #fff5f6;
  background-image: url(/images/mobile-about-background01.png), url(/images/mobile-about-background02.png);
  background-position: left 79%, right 79%;
  background-repeat: no-repeat;
  width: 100%;
  align-items: flex-start;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
}
.about-us__description {
  display: flex;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
.about-us__header {
  display: flex;
  width: 200px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__krowka {
  width: 280px;
}
.about-us__bold-paragraph {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #000000;
  text-align: left;
  padding: 0 50px;
  margin-bottom: 50px;
  margin-top: 46px;
}
.about-us__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__text {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */
  color: #907e82;
  text-align: left;
  padding: 0 50px;
}
.about-us__button {
  width: 176px;
  height: 44px;
  border: none;
  background: #ffffff;
  border-radius: 22px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d41443;
  margin-top: 17px;
  transition: background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about-us__button:hover, .about-us__button:focus {
  background: #ecebeb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.about-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #d41443;
  border-radius: 50%;
  cursor: pointer;
}

.read-about {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 528px;
  max-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #f3d2da;
  border-radius: 4px;
  right: 0;
  bottom: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.products {
  flex-direction: column;
}
.products__header p {
  margin-bottom: 15px;
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.products__header h2 {
  color: #d41443;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
}
.products__list {
  margin: 142px auto 98px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 127px;
}

.product {
  margin: auto;
  max-width: 280px;
  background-color: #ffb8ca;
  border-radius: 24px;
  position: relative;
}
.product__picture {
  margin: auto 15px auto 16px;
  display: block;
}
.product__description {
  max-width: 200px;
  margin: auto auto 30px auto;
  text-align: center;
  color: white;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.04em;
}
.product__description span {
  color: white;
}
.product__button {
  margin: auto 120px 41px 120px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
.product--icecoffee {
  background-color: #f0d1a5;
}
.product--milkshake {
  background-color: #c2e297;
}

.product__name--milkshake, .product__name--icecoffe, .product__name--icecream {
  padding-top: 161px;
  margin-bottom: 66px;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}
.product__name--milkshake::before, .product__name--icecoffe::before, .product__name--icecream::before {
  content: "";
  position: absolute;
  bottom: 349px;
  left: 17px;
  width: 249px;
  height: 252px;
}
.product__name--milkshake::after, .product__name--icecoffe::after, .product__name--icecream::after {
  content: "";
  background: url("/images/products_dots.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 213px;
  right: 125px;
  width: 26px;
  height: 6px;
}

.product__name--icecream::before {
  background: url("/images/ice_cream_w249.png");
  background-repeat: no-repeat;
}

.product__name--icecoffe::before {
  background: url("/images/ice_coffee_w249.png");
  background-repeat: no-repeat;
}

.product__name--milkshake::before {
  background: url("/images/milkshake_w249.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .products {
    flex-direction: column;
  }
  .products__header p {
    font-size: 26px;
    font-weight: 400;
    line-height: 29.77px;
  }
  .products__header h2 {
    font-size: 47px;
    line-height: 54.96px;
    letter-spacing: 0.04em;
  }
  .products__list {
    margin: 150px auto 112px auto;
    gap: 20px;
  }
  .product {
    margin: auto;
    max-width: 220px;
  }
  .product__picture {
    margin: auto 15px auto 16px;
    display: block;
  }
  .product__description {
    max-width: 198px;
    height: 124px;
    margin: auto auto 40px auto;
    font-size: 14px;
    line-height: 24.64px;
  }
  .product__description span {
    display: none;
  }
  .product__button {
    margin: auto 90px 41px 90px;
  }
  .product__name--icecream, .product__name--icecoffe, .product__name--milkshake {
    padding-top: 152px;
  }
  .product__name--icecream::before, .product__name--icecoffe::before, .product__name--milkshake::before {
    bottom: 367px;
    left: 2px;
    width: 220px;
  }
  .product__name--icecream::after, .product__name--icecoffe::after, .product__name--milkshake::after {
    background: url("/images/products_dots.png");
    top: 203px;
    right: 94px;
  }
  .product__name--icecream::before {
    background: url("/images/ice_cream_w220.png");
    height: 226px;
  }
  .product__name--icecoffe::before {
    background: url("/images/ice_coffee_w220.png");
    height: 233px;
  }
  .product__name--milkshake::before {
    background: url("/images/milkshake_w220.png");
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__header p {
    font-size: 30px;
    line-height: 34.35px;
    letter-spacing: 0.04em;
  }
  .products__header h2 {
    font-size: 58px;
    line-height: 66.41px;
    letter-spacing: 0.06em;
  }
  .products__list {
    margin: 259px auto 119px auto;
    gap: 29px;
  }
  .product {
    margin: auto;
    max-width: 329px;
  }
  .product__picture {
    margin: auto 15px auto 16px;
    display: block;
  }
  .product__description {
    max-width: 241px;
    height: 106px;
    margin: auto auto 62px auto;
    font-size: 16px;
    line-height: 28.16px;
  }
  .product__button {
    margin: 0 144px 50px 145px;
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  .product__name--icecream, .product__name--icecoffe, .product__name--milkshake {
    padding-top: 163px;
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 34.35px;
  }
  .product__name--icecream::before, .product__name--icecoffe::before, .product__name--milkshake::before {
    bottom: 400px;
    left: 0px;
    width: 335px;
  }
  .product__name--icecream::after, .product__name--icecoffe::after, .product__name--milkshake::after {
    top: 228px;
    right: 152px;
  }
  .product__name--icecream::before {
    background: url("/images/ice_cream_w335.png");
    background-repeat: no-repeat;
    height: 335px;
  }
  .product__name--icecoffe::before {
    background: url("/images/ice_coffee_w335.png");
    height: 337px;
  }
  .product__name--milkshake::before {
    background: url("/images/milkshake_w335.png");
    height: 335px;
  }
}
.read-about__text {
  display: flex;
  max-width: 450px;
  max-height: 400px;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    height: 720px;
    background-color: #fff5f6;
    background-image: none;
    width: 100%;
    align-items: flex-start;
  }
  .about-us {
    display: flex;
    align-items: center;
    padding-top: 130px;
  }
  .about-us__description {
    display: flex;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 16px;
  }
  .about-us__header {
    display: flex;
    width: 600px;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 48px;
    line-height: 54.96px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    justify-content: center;
  }
  .about-us__content {
    display: flex;
    flex-direction: row;
    margin: 50px 36px 0px 39px;
  }
  .about-us__krowka {
    width: 340px;
  }
  .about-us__text-content {
    padding-left: 17px;
    align-items: flex-start;
  }
  .about-us__bold-paragraph {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    /* or 19px */
    color: #000000;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 46px;
    padding: 0;
  }
  .about-us__text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    /* or 19px */
    color: #907e82;
    text-align: left;
    padding: 0;
  }
  .about-us__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    height: 780px;
    max-width: 1600px;
    background-color: #fff5f6;
    background-image: url(/images/desktop-about-background01.png), url(/images/desktop-about-background02.png);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    width: 100%;
    align-items: flex-start;
  }
  .about-us {
    display: flex;
    align-items: center;
    padding-top: 130px;
  }
  .about-us__description {
    display: flex;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 55px;
  }
  .about-us__header {
    display: flex;
    width: 600px;
    font-family: "Titan One";
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 26px;
    justify-content: center;
  }
  .about-us__content {
    display: flex;
    flex-direction: row;
    margin: 0 112px;
  }
  .about-us__krowka {
    width: 516px;
  }
  .about-us__text-content {
    display: flex;
    flex-direction: column;
    padding-left: 74px;
    margin-top: 50px;
  }
  .about-us__bold-paragraph {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    /* or 19px */
    color: #000000;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 46px;
    padding: 0;
  }
  .about-us__text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    /* or 19px */
    color: #907e82;
    text-align: left;
    padding: 0;
  }
  .about-us__button {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */