<section class="container about" id="section-about">
  <div class="about-us">
    <span class="about-us__description">Tradition and love</span>
    <h2 class="about-us__header">How it's made?</h2>
    <div class="about-us__content">
      <img
        class="about-us__krowka"
        alt="Krówka z dzbankieem mleka - BIO ECO"
        src="/images/krowka-280.png"
        srcset="
          /images/krowka-280.png 280w,
          /images/krowka-340.png 340w,
          /images/krowka-516.png 516w,
          /images/krowka-560.png 560w,
          /images/krowka-680.png 680w,
          /images/krowka-1032.png 1032w
        "
        sizes="(min-width: 1280px) 516px, (min-width:768px) 340px, 280px"
      />
      <div class="about-us__text-content">
        <p class="about-us__bold-paragraph">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-us__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. </p>
          <p class="about-us__text">Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about-us__button" data-modal-open>Read more</button>
      </div>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal>
  <div class="read-about">
    <button type="button" class="close-btn" data-modal-close>X</button>
    <div class="read-about__text"><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quo, iure ipsam architecto nisi
      quibusdam aperiam aliquam hic molestias provident quasi minima beatae iusto deserunt incidunt
      vitae molestiae.  </p>
       <p>Vitae, quibusdam amet molestiae vero ratione,
      recusandae iusto rerum facere eius commodi laudantium eligendi totam iste numquam nulla
      cumque? Rerum praesentium impedit modi, iure unde asperiores sunt incidunt necessitatibus
      dolor! Itaque distinctio aliquam consequuntur doloremque aperiam incidunt beatae, ut cum.
      Eaque architecto, enim temporibus reiciendis quod et? Unde eveniet provident minus ab quas
      voluptas aliquam sapiente architecto fuga, veritatis possimus minima rerum voluptates
      excepturi earum obcaecati magnam odio ipsa ipsam reiciendis illum. Labore facilis nemo
      doloribus reprehenderit quisquam deleniti sint aperiam tempora, dolorem soluta qui.</p>
      <p>
      Reprehenderit quasi error laborum optio earum perspiciatis exercitationem eligendi adipisci et
      culpa velit sunt tenetur id suscipit assumenda autem vero eum, hic at labore minus. Quidem
      perferendis nisi exercitationem, iure excepturi eum voluptatum rem, ut illo optio, adipisci
      illum culpa est nihil laudantium. Perspiciatis nihil eos assumenda officia iusto praesentium
      error laudantium, totam, tempora, commodi sit dolorum. Ex a similique voluptates sapiente rem,
      modi assumenda deleniti? </p>
      <p>Illum, iusto soluta laudantium fugit saepe, architecto labore odit
      numquam accusamus veritatis blanditiis voluptas sed ipsam! Repellendus commodi maiores ea
      molestiae. Enim debitis illo nulla expedita quasi commodi iure quibusdam ab ea quam et aliquam
      voluptatibus neque perspiciatis aspernatur fugit dicta sed sint rerum optio ipsam, totam vel
      suscipit dolorem. </p>
      <p>Excepturi sunt sit, eveniet, voluptates illo officia adipisci accusamus rem
      nam cupiditate deserunt inventore quaerat eligendi similique, quod porro earum consectetur
      asperiores distinctio officiis nemo at repudiandae. Consectetur iusto repudiandae ea, dolorem
      omnis perferendis id recusandae necessitatibus quidem doloribus harum ut ad saepe a architecto
      incidunt aspernatur nesciunt illum veniam, repellendus, accusantium libero! Ab dignissimos
      magnam voluptates ratione eius nulla exercitationem ut deserunt. Vel ab atque architecto
      pariatur repellendus?</p>
    </p></div>
  <img class="read-about__milkimage" src="/images/bioeco-read.png" alt="dzbanek z mlekiem BIOECO">
  </div>
</div>

