<section class="contacts container">
    <div class="contact-position">
        <ul class="contact-position__box-style">
            <h4 class="contact-position__name">Cafe</h4>
            <li class="contact-position__box">
                <p class="contact-position__city">Chicago</p>
                <p class="contact-position__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-position__box --contactBorders">
                <p class="contact-position__days">Monday - Friday</p>
                <p class="contact-position__hours">06:00 AM - 10:00 PM</p>
                <p class="contact-position__days">Saturday - Sunday</p>
                <p class="contact-position__hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-position__box">
                <a class="contact-position__contact" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contact-position__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contact-position__box-style">
            <h4 class="contact-position__name --truck">FoodTruck</h4>
            <li class="contact-position__box">
                <p class="contact-position__city">Los Angeles</p>
                <p class="contact-position__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-position__box --contactBorders">
                <p class="contact-position__days">Monday - Friday</p>
                <p class="contact-position__hours">06:00 AM - 10:00 PM</p>
                <p class="contact-position__days">Saturday - Sunday</p>
                <p class="contact-position__hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-position__box">
                <a class="contact-position__contact" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contact-position__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="contact-position__box-style">
            <h4 class="contact-position__name">Cafe</h4>
            <li class="contact-position__box">
                <p class="contact-position__city">New York</p>
                <p class="contact-position__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </li>
            <li class="contact-position__box --contactBorders">
                <p class="contact-position__days">Monday - Friday</p>
                <p class="contact-position__hours">06:00 AM - 10:00 PM</p>
                <p class="contact-position__days">Saturday - Sunday</p>
                <p class="contact-position__hours">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contact-position__box">
                <a class="contact-position__contact" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contact-position__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
    </div>
    <div class="container contact-buttons">
                <button class="contact-buttons__btn --locations">Our Locations</button>
                <button class="contact-buttons__btn --franchise">Franchise</button>
    </div>
</section>
