<section class="gallery container" id="gallery">
    
    <div class="photo-icecream">
        <img src="images/home-pic5.png" alt="róże rodziaje lodów" width="1280px" height="430px">
    </div>
    
    <div class="photo-girl">
        <img src="/images/girl.png" height="85px" width="85px">
    </div>
    
    <div class="background-txt">
        <svg>
            <use href="./images/icons.svg#notes-icon" width="54px" height="40px"></use>
        </svg>
        <p class="girl-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
    </div>

    <div>
        <ul class="circle-icon">
          <li class="icon-circle"></li>
          <li class="icon-circle"></li>
          <li class="icon-circle"></li>
        </ul>
      </div>
  
    <div>
       <p class="emily">Emily, Los Angeles</p>
    </div>
    
    <div>
        <ul class="icon-home">
            <li class="li-home">
              <svg class="home-svg">
                  <use class="home" href="./images/icons.svg#home-icon" width="12.4px" height="11.84px"></use>
              </svg>
            </li>
            <li class="circle-home"></li>
            <li class="circle-home"></li>
        </ul>
    
    </div>
  </div>
    </section>