<section class="">
<div class="photo-girl">
    <img src="/images/girl.png" height="85px" width="85px">
</div>
<div class="background-txt">
    <p class="girl-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
</div>
<div>
    <svg></svg>
  </div>
<div>
    <p class="emily">Emily, Los Angeles</p>
</div>
<div>
    <svg>
        <use href=""></use>
    </svg>
</div>
</section>