<footer class="footer footer--bg container" id="footer">
    <section class="footer-position">
        <div class="footer-logo">
            <h1 class="footer-logo__first-description">HOMEMADE ICE CREAM MADE</h1>
            <h1 class="footer-logo__second-description">WITH PASSION</h1>
        </div>
        <div class="footer-contact">
            <ul class="footer-contact__icon-position">
                <li>
                    <a class="footer-contact__icon-contact" href="#">
                        <svg class="icon icon-footer" width="20" height="20">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-contact__icon-contact" href="#">
                        <svg class="icon icon-footer" width="20" height="20">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-contact__icon-contact" href="#">
                        <svg class="icon icon-footer" width="20" height="20">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="footer-contact__phone">
                    <span class="footer-contact__sentence">Feel free to contact</span>
                    <a class="footer-contact__mobile-number" href="tel:+61 (0) 383 766 284"> +61 (0) 383 766 284</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="footer-bottom">
        <p class="footer-bottom__style">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
