<header class="container container__head" id="home">
  <div class="header">
    <ul class="header__bar">
      <li class="header__item">
        <a href=""><img class="logo" src="/images/logo.png" alt="logo" /></a>
      </li>
      <li class="header__item">
        <nav class="navigation">
          <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-about">About us</a></li>
            <li class="menu__item">
              <a class="menu__link" href="#section-about">How it's made?</a>
            </li>
            <li class="menu__item"><a class="menu__link" href="#products">Our products</a></li>
            <li class="menu__item"><a class="menu__link" href="#contacts">Contact</a></li>
          </ul>
        </nav>
      </li>
      <li class="header__item">
        <svg class="menu__icon">
          <use href="./images/icons.svg#menu_24px" />
        </svg>
      </li>
      <li class="header__item">
        <a href="" class="button button--buy-now">Buy now ></a>
      </li>
    </ul>
  </div>

  <section class="header__text-box">
    <h1 class="header__main-title">
      Ice Cream made with <span class="header__main-title--decor">Pasion</span>
    </h1>
    <div class="header__pictures">
      <ul>
        <li class="header__pict-item--lady">
          <img src="./images/lady.png" alt="Pani z lodem" />
        </li>
        <li class="header__pict-item--ice">
          <img src="./images/iceCream.png" alt="lód" />
        </li>
        <li class="header__pict-item--milk">
          <img src="./images/bioecomilk.png" alt="lód" />
        </li>
      </ul>
    </div>
  </section>
  <div class="header__buttons">
    <a href="#products" class="button button--products">Products</a>
    <a href="section-about" class="button button--how-made">How it's made?</a>
  </div>
  <div class="header__text">
    <p class="header__text--decor">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <a href="" ><img class="arrow" src="./images/arrow-right.png" alt=" przycisk strzałki" ></a>
  </div>
  <div class="extras extras--one">
    <p class="extras__numbers">16</p>
    <p class="extras__text extras__text--mod">caffes</p>
  </div>
  <div class="extras extras--two">
    <p class="extras__numbers">23</p>
    <p class="extras__text">food trucks</p>
  </div>
</header>
