<section class="products container">
  <dev class="products__header">
    <p>100% NATURAL</p>
    <h2>PRODUCTS</h2>
  </dev>
  <ul class="products__list">
    <li class="product">
      <h3 class="product__name--icecream">ICE CREAM</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
    </li>
    <li class="product product--icecoffee">
      <h3 class="product__name--icecoffe">ICE COFFEE</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
    </li>
    <li class="product product--milkshake">
      <h3 class="product__name--milkshake">MILKSHAKES</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
    </li>
  </ul>
</section>
