<section class="products container">
  <dev class="products__header">
    <p>100% NATURAL</p>
    <h2>PRODUCTS</h2>
  </dev>
  <ul class="products__list">
    <li class="product">
      <h3 class="product__name--icecream">ICE CREAM</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
      <div class="modal-product">
        <div class="modal-product__content modal-product__content--ice-cream">
          <span class="modal-product__close-button">×</span>
          <h3 class="modal-product__header">ICE CREAM</h3>
          <p class="modal-product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <img
            class="modal-product__picture"
            src="./images/ice_cream_w249.png"
            width="249"
            alt="ice coffee"
          />
        </div>
      </div>
    </li>
    <li class="product product--icecoffee">
      <h3 class="product__name--icecoffe">ICE COFFEE</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
      <div class="modal-product">
        <div class="modal-product__content modal-product__content--ice-coffee">
          <span class="modal-product__close-button">×</span>
          <h3 class="modal-product__header">ICE COFFE</h3>
          <p class="modal-product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <img
            class="modal-product__picture"
            src="./images/ice_coffee_w249.png"
            width="249"
            alt="ice coffee"
          />
        </div>
      </div>
    </li>
    <li class="product product--milkshake">
      <h3 class="product__name--milkshake">MILKSHAKES</h3>
      <p class="product__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. <span>dolore magna aliqua facilisis.</span>
      </p>
      <button class="product__button"><img src="/images/arrow_right.png" /></button>
      <div class="modal-product">
        <div class="modal-product__content modal-product__content--milkshake">
          <span class="modal-product__close-button">×</span>
          <h3 class="modal-product__header">MILKSHAKES</h3>
          <p class="modal-product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <img class="modal-product__picture" src="./images/milkshake_w249.png" alt="milkshake" />
        </div>
      </div>
    </li>
  </ul>
</section>
<script src="./js/modal-products.js"></script>
